<template>
  <div class="body">

    <tr :item-index="itemIndex"
        :key="itemIndex"
        :class="onRowClass(item, itemIndex)"
        @mouseover="onMouseOver(item, itemIndex, $event)"
    >
      <template v-for="(field, fieldIndex) in tableFields">
        <template v-if="field.visible">
            <template v-if="fieldIndex === 0 && item.children && item.children.length">
              <td
                :class="bodyClass('vuetable-td-'+field.name, field)"
                :key="fieldIndex"
                :style="{marginLeft: `${level}rem`}"
                style="max-width: 100%; display: block; padding-top: 12px; cursor: pointer"
                v-html="renderNormalField(field, item, fieldIndex)"
                @click="openChildren(item)"
              > </td>
            </template>
            <template v-else-if="fieldIndex === 0 && enableCheckBox">

              <td
                :class="bodyClass('vuetable-td-'+field.name, field)"
                :key="fieldIndex"
                :style="{marginLeft: `${level}rem`}"
                style="max-width: 100%; display: block; padding-top: 12px"
                @click="onRowClicked(item, itemIndex, $event)"
              >
                <input type="checkbox"
                       style="margin-right: 10px; cursor: pointer;"
                       v-model="item.checked"
                >
                {{item.name}}
              </td>
            </template>
          <template v-else-if="fieldIndex === 0">

              <td
                :class="bodyClass('vuetable-td-'+field.name, field)"
                :key="fieldIndex"
                :style="{marginLeft: `${level}rem`}"
                style="max-width: 100%; display: block; padding-top: 12px"
                v-html="renderNormalField(field, item, fieldIndex)"
                @click="onRowClicked(item, itemIndex, $event)"
              >
              </td>
            </template>
            <template v-else>
                <td
                  :class="bodyClass('vuetable-td-'+field.name, field)"
                  :key="fieldIndex"
                  :style="{width: field.width}"
                  @click="onRowClicked(item, itemIndex, $event)"
                  v-html="renderNormalField(field, item, fieldIndex)"
                ></td>
            </template>
        </template>
      </template>
    </tr>
    <template v-if="item.children && item.children.length">
      <template v-for="(item, itemIndex) in children">
        <TreeTable
          :item="item"
          :itemIndex="item.id"
          :tableFields="tableFields"
          :treeKey="treeKey"
          :rowClass="rowClass"
          :openProps="isOpen"
          :vuetable="vuetable"
          :enableCheckBox="enableCheckBox"
          :level="level + 0.75"
          @handelUpdate="updateIsOpen"
          @onRowClicked="onRowClicked"
          @onMouseOver="onMouseOver"
          @checkedItem="checkedItem"
        />
      </template>
    </template>
  </div>
</template>

<script>
import TreeTable from './TreeTable'
export default {
  name: "TreeTable",
  components: {
    TreeTable,
  },

  props: {
    enableCheckBox: {
      type: Boolean,
    },
    vuetable: {
      type: Object,
      required: true,
    },
    item: {
      type: Object,
      required: true,
    },
    itemIndex: {
      type: Number,
      required: true
    },
    tableFields: {
      type: Array,
      required: true
    },
    rowClass: {
      type: [String, Function],
      default: ''
    },
    openProps: {
      type: Array,
      default: null,
    },
    treeKey: {
      type: String,
      default: null,
    },
    level: {
      type: Number,
      default: 0
    },
    eventPrefix: {
      type: String,
      default() {
        return 'vuetable:'
      }
    },
    fieldPrefix: {
      type: String,
      default() {
        return 'vuetable-field-'
      }
    },
  },
  data() {
    return {
      isOpen: [],
      checked: null
    }
  },
  mounted() {
    if (this.openProps) {
      this.isOpen = this.openProps;
    }
    if (localStorage.getItem(this.treeKey)) {
      this.isOpen = JSON.parse(localStorage.getItem(this.treeKey));
    }
    if (!this.item.parent_id && this.isOpen.includes(this.item.id)) {
      this.$emit("loadChildren", this.item.id);
    }
  },
  computed: {
    children() {
      if (this.item.children && this.item.children.length) {
        return this.item.children.filter(this.isShow)
      }
    },
  },

  methods: {
    checkedItem(data){
      this.$emit('checkedItem', data);
    },

    isShow(item) {
      return this.isOpen.includes(item.parent_id);
    },
    updateIsOpen(val) {
      this.isOpen = val;
    },
    openChildren(item) {
      let id = item.id;
      if (!this.isOpen.includes(id)) {
        this.isOpen.push(id);
      } else {
        this.isOpen = this.isOpen.filter((el) => el !== id);
      }
      if (!item.parent_id) {
        this.$emit("loadChildren", item.id);
      }
    },
    onRowClass(dataItem, index) {
      if (typeof (this.rowClass) === 'function') {
        return this.rowClass(dataItem, index)
      }

      return this.rowClass
    },
    bodyClass(base, field) {
      return [base, field.dataClass]
    },
    hasFormatter(item) {
      return typeof (item.formatter) === 'function'
    },
    callFormatter(field, item, index) {
      if (!this.hasFormatter(field)) return

      if (typeof (field.formatter) === 'function') {
        return field.formatter(this.getObjectValue(item, index, field.name), this)
      }
    },
    getObjectValue(object, index, path, defaultValue) {
      defaultValue = (typeof defaultValue === 'undefined') ? null : defaultValue

      let obj = object
      if (path.trim() != '') {
        let keys = path.split('.')
        keys.forEach((key) => {
          if (obj !== null && typeof obj[key] !== 'undefined' && obj[key] !== null) {
            obj = obj[key]
          } else {
            obj = defaultValue
            return
          }
        })
      }
      if (index === 0 && object.children && object.children.length) {
        if (this.isOpen.includes(object.id)) {
          return '&#9660; 📂&nbsp;&nbsp;'+ obj
        } else {
          return '&#9658; 🗂️ &nbsp;&nbsp;'+ obj
        }
      } else if (index === 0 && object.children && !object.children.length && object.is_folder) {
        return '📁&nbsp;&nbsp;'+ obj
      } else {
        return  obj
      }
    },
    renderNormalField(field, item, fieldIndex) {
      return this.hasFormatter(field)
        ? this.callFormatter(field, item, fieldIndex)
        : this.getObjectValue(item, fieldIndex, field.name, '')
    },
    onRowClicked(dataItem, dataIndex, event) {
      this.$emit('onRowClicked', dataItem, dataIndex, event);
    },

    onMouseOver(dataItem, dataIndex, event) {
      this.$emit('onMouseOver', dataItem, dataIndex, event);
    },
    onFieldEvent(type, payload) {
      this.fireEvent('field-event', type, payload, this)
    },
    fireEvent() {
      if (arguments.length === 1) {
        return this.$emit(this.eventPrefix + arguments[0])
      }

      if (arguments.length > 1) {
        let args = Array.from(arguments)
        args[0] = this.eventPrefix + args[0]
        return this.$emit.apply(this, args)
      }
    },
  },

  watch: {
    isOpen: function (newVal, oldVal) {
      localStorage.setItem(this.treeKey, JSON.stringify(newVal));
      this.$emit("handelUpdate", newVal);
    },
    openProps: function (newVal, oldVal) {
      this.isOpen = newVal;
    },
    ['item.checked']() {
      let data = {
        item: this.item,
        checked: this.item.checked
      }
      this.$emit("checkedItem", data);
    },
  },
}
</script>

<style scoped>
.body {
  display: contents;
}

.cell {
  display: block;
}

[v-cloak] {
  display: none;
}

table.vuetable.fixed-header {
  table-layout: fixed;
}

.vuetable th.sortable:hover {
  color: #2185d0;
  cursor: pointer;
}

.vuetable-head-wrapper {
  overflow-x: hidden;
}

.vuetable-head-wrapper table.vuetable {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.vuetable-body-wrapper.fixed-header {
  position: relative;
  overflow-y: auto;
}

.vuetable-body-wrapper table.vuetable.fixed-header {
  border-top: none !important;
  margin-top: 0 !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.vuetable-empty-result {
  text-align: center;
}
</style>
